<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %> <br>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body %> <br>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit class: 'btn' %>
  </div>
<% end %>
